<section class="home-content-section">
<figure class="about-box-container">
    <div class="about-box">
        <img class="logo-image" src="LogoSmall.png" alt="Healthy-minds-logo">
        <h1 class="logo-text">Healthy Minds</h1>
        <p class="about-text">A community for the severely ill and those supporting them</p>
        <button class="about-box-button">About</button>
    </div>
</figure>