<nav class="width-full">
    <div class="dropDown">
        <button type="button" name="button">
            <i class="fa fa-bars fa-lg"></i>
        </button>
        <div class="dropContent">
            <a href="../navbar/index.html">Home</a>
            <a href="index.html">Story</a>
            <a href="../advices/index.html">Advice</a>
            <a href="#  ">Questions</a>
        </div>
    </div>
    <button type="login" name="button">Login
        <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
</nav>