 {{#each homepageData.homePagePosts}}
<div class="content-box">
    <article class="content">
        <h3 class="story">{{type}}</h3>
        <p class="content-title">{{title}}</p>
        <p class="content-main">{{content}}</p>
        <P>{{time_stamp}}</P>
        <button class="post-button"> View Full Post</button>
    </article>
</div>
{{/each}}
</section>